# Customer Analysis Round 6

In [1]:
# Import libraries

import pandas as pd
import numpy as np
import seaborn as sns
from sklearn.preprocessing import OneHotEncoder, LabelEncoder, Normalizer
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error as mse, mean_absolute_error as mae
import statsmodels as sm

In [2]:
# Read data

df = pd.read_csv('./files_for_lab/csv_files/marketing_customer_analysis.csv')

In [3]:
# Check data

df.head(2)

,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,Income,...,Months Since Policy Inception,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size
0,BU79786,Washington,2763.519279,No,Basic,Bachelor,2/24/11,Employed,F,56274,...,5,0,1,Corporate Auto,Corporate L3,Offer1,Agent,384.811147,Two-Door Car,Medsize
1,QZ44356,Arizona,6979.535903,No,Extended,Bachelor,1/31/11,Unemployed,F,0,...,42,0,8,Personal Auto,Personal L3,Offer3,Agent,1131.464935,Four-Door Car,Medsize

In [4]:
df.isnull().sum()

Customer                         0
State                            0
Customer Lifetime Value          0
Response                         0
Coverage                         0
Education                        0
Effective To Date                0
EmploymentStatus                 0
Gender                           0
Income                           0
Location Code                    0
Marital Status                   0
Monthly Premium Auto             0
Months Since Last Claim          0
Months Since Policy Inception    0
Number of Open Complaints        0
Number of Policies               0
Policy Type                      0
Policy                           0
Renew Offer Type                 0
Sales Channel                    0
Total Claim Amount               0
Vehicle Class                    0
Vehicle Size                     0
dtype: int64

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9134 entries, 0 to 9133
Data columns (total 24 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Customer                       9134 non-null   object
 1   State                          9134 non-null   object
 2   Customer Lifetime Value        9134 non-null   float64
 3   Response                       9134 non-null   object
 4   Coverage                       9134 non-null   object
 5   Education                      9134 non-null   object
 6   Effective To Date              9134 non-null   object
 7   EmploymentStatus               9134 non-null   object
 8   Gender                         9134 non-null   object
 9   Income                         9134 non-null   int64
 10  Location Code                  9134 non-null   object
 11  Marital Status                 9134 non-null   object
 12  Monthly Premium Auto           9134 non-null   int64
 13  Months Since Last Claim        9134 non-null   int64
 14  Months Since Policy Inception  9134 non-null   int64
 15  Number of Open Complaints      9134 non-null   int64
 16  Number of Policies             9134 non-null   int64
 17  Policy Type                    9134 non-null   object
 18  Policy                         9134 non-null   object
 19  Renew Offer Type               9134 non-null   object
 20  Sales Channel                  9134 non-null   object
 21  Total Claim Amount             9134 non-null   float64
 22  Vehicle Class                  9134 non-null   object
 23  Vehicle Size                   9134 non-null   object
dtypes: float64(2), int64(6), object(16)
memory usage: 1.7+ MB

In [6]:
# Formatting columns
df.columns = df.columns.str.replace(' ', '_')
df.columns = df.columns.str.lower()

In [7]:
## Getting numerical and categorical columns into dataframes
numerical_df = df.select_dtypes(np.number)
categorical_df = df.select_dtypes(np.object)

In [8]:
print(numerical_df.columns)
print(categorical_df.columns)

Index(['customer_lifetime_value', 'income', 'monthly_premium_auto',
       'months_since_last_claim', 'months_since_policy_inception',
       'number_of_open_complaints', 'number_of_policies',
       'total_claim_amount'],
      dtype='object')
Index(['customer', 'state', 'response', 'coverage', 'education',
       'effective_to_date', 'employmentstatus', 'gender', 'location_code',
       'marital_status', 'policy_type', 'policy', 'renew_offer_type',
       'sales_channel', 'vehicle_class', 'vehicle_size'],
      dtype='object')

In [9]:
# Split X and y

y = numerical_df['total_claim_amount']
X_numerical = numerical_df.drop(columns=['total_claim_amount'])

In [10]:
# Normalize data

normalizer_scaler = Normalizer()

X_normalizer = normalizer_scaler.fit_transform(X_numerical)

X_normalizer = pd.DataFrame(X_normalizer, columns= X_numerical.columns)

X_normalizer

,customer_lifetime_value,income,monthly_premium_auto,months_since_last_claim,months_since_policy_inception,number_of_open_complaints,number_of_policies
0,0.049049,0.998795,0.001225,0.000568,0.000089,0.000000,0.000018
1,0.999889,0.000000,0.013466,0.001862,0.006017,0.000000,0.001146
2,0.255494,0.966808,0.002141,0.000357,0.000753,0.000000,0.000040
3,0.999865,0.000000,0.013862,0.002354,0.008500,0.000000,0.000915
4,0.064055,0.997944,0.001662,0.000273,0.001002,0.000000,0.000023
...,...,...,...,...,...,...,...
9129,0.309387,0.950935,0.000965,0.000238,0.001176,0.000000,0.000026
9130,0.141879,0.989876,0.003620,0.000641,0.001283,0.000000,0.000046
9131,0.999935,0.000000,0.010411,0.001102,0.004532,0.000367,0.000245
9132,0.324391,0.945913,0.004139,0.001466,0.000129,0.000000,0.000129
9133,0.998973,0.000000,0.029451,0.001147,0.034423,0.000000,0.000382

In [11]:
# Create encoder instance

one_hot_encoder = OneHotEncoder(drop='first', sparse=False)

label_encoder = LabelEncoder()

In [12]:
# Delete useless columns

categorical_df.drop(columns=['customer'], inplace=True)

C:\Users\leo_k\anaconda3\lib\site-packages\pandas\core\frame.py:4163: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [13]:
# Define columns to apply each encoder

one_hot_encoder_columns = ['state', 'response', 'gender', 'location_code', 'marital_status', 'policy_type', 'sales_channel', 'vehicle_class']

label_encoder_columns = ['coverage', 'education', 'employmentstatus', 'policy', 'renew_offer_type', 'vehicle_size']

In [14]:
# Create function to one_hot_encoding

def encoding_func(my_dataframe, columns_to_encode):
    encoded_df = pd.DataFrame()
    
    one_hot_encoder_columns = ['state', 'response', 'gender', 'location_code', 'marital_status', 'policy_type', 'sales_channel', 'vehicle_class']
    label_encoder_columns = ['coverage', 'education', 'employmentstatus', 'policy', 'renew_offer_type', 'vehicle_size']
    
    for column in columns_to_encode:
        if column in one_hot_encoder_columns:
            column_encoded = one_hot_encoder.fit_transform(my_dataframe[[column]])
            column_encoded = pd.DataFrame(column_encoded)
        elif column in label_encoder_columns:
            column_encoded = label_encoder.fit_transform(my_dataframe[[column]])
            column_encoded = pd.DataFrame(column_encoded, columns = [f'{column}_label'])
        else:
            continue

        encoded_df = pd.concat([encoded_df, column_encoded], axis=1)
        
    return encoded_df

In [15]:
# Encoding data

one_hot_df = encoding_func(categorical_df, one_hot_encoder_columns)

labeled_df = encoding_func(categorical_df, label_encoder_columns)

C:\Users\leo_k\anaconda3\lib\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

In [16]:
# Checking data shape

print(one_hot_df.shape)
print(labeled_df.shape)
print(X_numerical.shape)

(9134, 20)
(9134, 6)
(9134, 7)

In [20]:
one_hot_df = pd.get_dummies(categorical_df[label_encoder_columns])

In [21]:
full_df = pd.concat([X_numerical , labeled_df, one_hot_df], axis=1)

In [22]:
full_df.shape

(9134, 42)

In [23]:
full_df.head(2)

,customer_lifetime_value,income,monthly_premium_auto,months_since_last_claim,months_since_policy_inception,number_of_open_complaints,number_of_policies,coverage_label,education_label,employmentstatus_label,...,policy_Special L1,policy_Special L2,policy_Special L3,renew_offer_type_Offer1,renew_offer_type_Offer2,renew_offer_type_Offer3,renew_offer_type_Offer4,vehicle_size_Large,vehicle_size_Medsize,vehicle_size_Small
0,2763.519279,56274,69,32,5,0,1,0,0,1,...,0,0,0,1,0,0,0,0,1,0
1,6979.535903,0,94,13,42,0,8,1,0,4,...,0,0,0,0,0,1,0,0,1,0

In [24]:
# Linear Regression

linear_regression = LinearRegression()

In [25]:
X_train , X_test, y_train, y_test = train_test_split(full_df, y, test_size=0.25, random_state=42)

In [26]:
linear_regression.fit(X_train, y_train)   # model train
y_pred_train = linear_regression.predict(X_train)
y_pred_test = linear_regression.predict(X_test)   # model prediction

In [27]:
# Model validation

train_score = linear_regression.score(X_train, y_train) #R2
test_score = linear_regression.score(X_test, y_test)
train_score, test_score

(0.5573754559297028, 0.5433346299232648)

In [28]:
train_mse = mse(y_pred_train,y_train)

test_mse = mse(y_pred_test,y_test)

train_mse, test_mse

(37857.09705383751, 36939.6572878353)

In [29]:
train_mae = mae(y_pred_train,y_train)

test_mae = mae(y_pred_test,y_test)

train_mae, test_mae

(140.13830787522457, 140.53678329263218)